Flask

# Flask Extensions
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Permissions
Flask-Script
Flask-SQLAlchemy
Flask-Themes2
Flask-WTF

# Other
click
pillow
python-dateutil
simplejson

# Content Parsers
-r requirements.parsers.txt
