Flask

# Flask Extensions
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Permissions
Flask-Script
Flask-SQLAlchemy
Flask-Themes2
Flask-WTF

# Other
alembic
blinker
click
cssmin
itsdangerous
Jinja2
jsmin
Mako
Markdown
MarkupSafe
pillow
python-creole
python-dateutil
python-editor
simplejson
SQLAlchemy
textile
Werkzeug

# Testing
# nose
pytest
pytest-cov
mccabe
flake8
