{% extends theme("master.html") %}

{% block title %} - Home{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-8">
                {% if posts %}
                    {% for content in posts %}
                        <!-- blog entry -->
                        <h1><a href="/post/{{ content.slug }}">{{ content.title }}</a></h1>
                        <p class="lead">by {{ content.user.firstname }} {{ content.user.lastname }}</p>
                        <hr>
                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ content.human_published_on() }}</p>
                        <hr>
                        {% if content.header_image %}
                            <img src="{{ content.header_image }}" class="img-responsive">
                            <hr>
                        {% endif %}
                        {% if content.preview %}
                            {{ content.previewed|safe }}
                            <a class="btn btn-primary" href="/post/{{ content.slug }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                        {% else %}
                            {{ content.parsed|safe }}
                        {% endif %}

                        <hr>
                    {% endfor %}

                    <!-- pager -->
                    <ul class="pager">
                        {% if current_page > 1 %}
                            {% if tag %}
                                <li class="previous"><a href="/tags/{{ tag }}/{{ current_page - 1 }}">&larr; Older</a></li>
                            {% else %}
                                <li class="previous"><a href="/blog/{{ current_page - 1 }}">&larr; Older</a></li>
                            {% endif %}
                        {% endif %}
                        {% if current_page < max_pages %}
                            {% if tag %}
                                <li class="next"><a href="/tags/{{ tag }}/{{ current_page + 1 }}">Newer &rarr;</a></li>
                            {% else %}
                                <li class="next"><a href="/blog/{{ current_page + 1 }}">Newer &rarr;</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% else %}
                    <h1>No Posts Yet</h1>
                    <p>There doesn't seem to be anything here.</p>
                {% endif %}

            </div>
            <!-- sidebar here -->
            {% include theme("sidebar.html") %}

        </div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
