{% extends theme("master.html") %}

{% block title %} - Administration{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include theme("menu.html") %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Listing Files</h1>
                    {% if files %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Width</th>
                                <th>Height</th>
                                <th>Size</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td>
                                    {{ file.name }}
                                </td>
                                <td>
                                    {{ file.width }}
                                </td>
                                <td>
                                    {{ file.height }}
                                </td>
                                <td>
                                    {{ file.size }}
                                </td>
                                <td>
                                    <a href="/uploads/{{ file.name }}">/uploads/{{ file.name }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>There is nothing here yet.</p>
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
