{% extends theme("master.html") %}

{% block title %} - Administration{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include theme("menu.html") %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome to Impression</h1>
                    <p>A free, open-source blogging and CMS platform powered by Python / Flask.</p>
                    <p>Impression has been designed from the ground up to be the CMS for programmers, designers, and other technical people.</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
