<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Impression{% block title %}{% endblock title %}</title>

    <!-- Core CSS - Include with every page -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ theme_static('css/bootbar.css') }}" rel="stylesheet" />
    <link href="{{ theme_static('css/fileinput.min.css') }}" rel="stylesheet" />
    <link href="{{ theme_static('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
    <link href="{{ theme_static('css/bootstrap-tagsinput.css') }}" rel="stylesheet" />

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ theme_static('css/sb-admin.css') }}" rel="stylesheet">
    {% block css %}{% endblock css %}

    {% block meta %}{% endblock meta %}

</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <div id='alerts'>
        {% for category, message in messages %}
        <div class="alert alert-dismissable alert-messages alert-info">
            <a class="close" data-dismiss="alert" href="#">x</a>
            {{ message|safe }}
        </div>
        {% endfor %}
    </div>
    {% endwith %}
    {% block content %}{% endblock content %}

    <div id="footer">
        <div class="container" id="footer-copy">
            <p class="pull-left">Impression is a blogging platform and CMS by Scott Blevins</p>
            <p class="pull-right" id="footer-buttons"><a href="https://github.com/smeggingsmegger/impression" target="_BLANK"><i class="fa fa-github"></i> GitHub</a></p>
        </div>
    </div>
    <!-- Core Scripts - Include with every page -->
    <script src="{{ theme_static('js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ theme_static('js/bootstrap.min.js') }}"></script>
    <script src="{{ theme_static('js/bootbar.min.js') }}"></script>
    <script src="{{ theme_static('js/bootbox.min.js') }}"></script>
    <script src="{{ theme_static('js/moment.min.js') }}"></script>
    <script src="{{ theme_static('js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ theme_static('js/utils.js') }}"></script>
    <script src="{{ theme_static('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ theme_static('js/typeahead.js') }}"></script>
    <script src="{{ theme_static('js/fileinput.min.js') }}"></script>
    <script src="{{ theme_static('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ theme_static('js/sb-admin.js') }}"></script>
    <script type=text/javascript>
    window.setTimeout(function() { $(".alert").fadeOut('slow'); }, 5000);
    var impression_URL = parseURL(window.location.href);
    $(function () {
        $('.datetime-field').datetimepicker();
        if (impression_URL.segments[1] == "posts") {
            $("#posts-a").trigger("click");
        }
        else if (impression_URL.segments[1] == "pages") {
            $("#pages-a").trigger("click");
        }
        else if (impression_URL.segments[1] == "files") {
            $("#files-a").trigger("click");
        }
        else if (impression_URL.segments[1] == "users") {
            $("#users-a").trigger("click");
        }
        var focus_field = $('.focus');
        if (focus_field[0]) {
            focus_field[0].focus();
        }
    });

    // Global AJAX Override
    jQuery.ajaxSetup({
        beforeSend: function(xhr, obj) {
            xhr.setRequestHeader('X-Request', 'JSON');
        },
        dataFilter: function(data, dataType) {
            try {
                switch (data) {
                    case '{"messages": ["No valid API Key found."], "success": false}':
                        // Not logged in.
                        window.location.replace('/login');
                        break;
                    default:
                        jQuery.parseJSON(data);
                        return data;
                }
            }
            catch (e) {
                if (dataType === 'html') {
                    document.html.set('html', data);
                } else {
                    bootbox.alert({title: 'HTML Display', message: data});
                }
            }
        },
    });
    </script>
    {% block javascript %}{% endblock javascript %}

</body>

</html>
